#pricing {
  margin: 120px 0px 0px 190px;
}

.pricing-hero-txt1 {
  margin-left: 476px;
  width: 108px;
  height: 48px;
  border-radius: 4px;
  background: #f3f7f2;
}

.pricing-hero-txt1-1 {
  padding-top: 8px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #153c3c;
}

.pricing-hero-txt2 {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 2.240000009536743px;
  margin: 13px 0px 0px 367px;
}

.pricing-info {
  display: flex;
  margin-top: 96px;
}

.pricing-info-frame1,
.pricing-info-frame2 {
  position: relative;
  width: 510px;
  height: 613px;
  border-radius: 12px;
  background: #f2f8f8;
}

.pricing-info-frame1 {
  margin-right: 40px;
}

.pricing-frame2-txt,
.pricing-frame1-txt {
  position: absolute;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.9599999785423279px;
  color: #172426;
  top: 40px;
  left: 56px;
}

.pricing-frame1-img,
.pricing-frame2-img {
  position: absolute;
  top: 112px;
  left: 56px;
}
